*.class

# Package Files #
*.jar
*.war
*.ear

# Build Folder #
build/

# Lib Folder #
lib/

# Netbeans Folder & Files #
nbproject/

# IDEA Folder & Files #
.idea/
out/
*.iml

# Mac files #
*.DS_Store

# Tmp images #
src/main/resources/images/tmp/
