AnchorPane {
    -fx-background-color: #000;
}

.menuPane {
    -fx-background-image: url("../images/bg0.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.survivorPortrait {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80 80;
    -fx-background-radius: 100;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: white;
    /*-fx-image: url("../images/Amy_p.jpg");*/
    /*-fx-image: url("../images/Amy_pz.jpg");*/
}

.selected {
    -fx-border-color: red;
}

/*#survivors {
    -fx-border-width: 1;
    -fx-border-color: blue;
}*/

/*.survivorDescription {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}*/
