AnchorPane {
    -fx-background-color: #000;
}

.survivorPortrait {
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 90px 90px;
    -fx-position-shape: true;
    -fx-padding: 50px;
    /*-fx-image: url("../images/characters/p_Amy.jpg");*/
}

.zombivorPortrait {
    /*-fx-image: url("../images/characters/p_Amy_z.jpg");*/
}

.selected {
    -fx-opacity: 1.0;
}

.unselected {
    -fx-opacity: 0.3;
}